In [11]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete_pf = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_pf.head(2)
#school_data_complete_pf.describe()
#school_data_complete_pf.shape

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635

In [15]:
#Disctrict Summary  
#total schools, total students, total budget, avg math score,
# avg reading score,  %passing math, %passing Readig %Overall passing rate
districtSumm=school_data_complete_pf["type"].value_counts()
districtSumm

District    26976
Charter     12194
Name: type, dtype: int64

In [ ]:
#School Summary  
#School Name, School Type, Total Students, Total School  Budget, 
#per Student Budget, Average Math Score, Average Reading Score
#%Passing math, %Passing Reading, Overall Passing Rate (avg of math & read)
#
#create dataframe for results

In [ ]:
# Schools performance Top  overall passing rate
#sort and display the top 5 schools
#School Type, Total Students, Total School Budget, $perStudent budget, 
#average math Score, Averaage Reading score, %Passing Math, %passing reading
#%overall passing rate

In [ ]:
# Schools performance Top  overall passing rate
#sort and display the bottom five schools
#School Type, Total Students, Total School Budget, $perStudent budget, 
#average math Score, Averaage Reading score, %Passing Math, %passing reading
#%overall passing rate

In [ ]:
#Math Scores by Grade  values.count..total?
#rows school, cols grades
#clean formatting

In [ ]:
#Reading Score by Grade
#rows school, cols grades
#clean formatting

In [ ]:
#Scores by School Spending - bins
#sample bins:  
#    spending_bins=[0,585, 615, 675]
#    group_names=["<585","585-615","615-645","645-675"]
#Average math score, average reading score, %passing math, %passing reading
#overal Passing rate (average of the above two)
#bins as rows

In [ ]:
Scores by school size
#sample bins:
#    size_bins=[0,1000,2000,5000]
#    group_names = ["Sma(<1000)","Medium (1000-2000)","Large (2000-5000)"]
#Average math score, average reading score, %passing math, %passing reading
#overal Passing rate (average of the above two)
#bins as rows

In [ ]:
Scores by School type
rows school type
#Average math score, average reading score, %passing math, %passing reading
#overal Passing rate (average of the above two)
#bins as rows